body {
    background-color: rgb(182, 167, 182);
}
* {
    color: gray;
   
}


p {
    text-transform: lowercase;
    text-decoration-style: dotted;
    text-decoration-color: rgb(60, 34, 3);
}


.h1_p ~ p  {
    stroke-width: 0%;
}  
.image_div img{
    width: 200px;
    height: 200px;
    padding: 25px;
    margin: 25px;
    border: 5px dashed red ;
    background-color: yellowgreen;
    box-sizing: border-box;
    
}
.test {
    border: 2px dashed red ;
    width: 400px;
}
.title {
    border: 2px dotted green;
    width: 40%;
}